

<div class="wrapper" ng-submit="login()">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please login</h2>
    <div class="form-group-group">
      <input type="email" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" ng-model="user.email" />
    </div>
    <br />
    <div class="form-group-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="user.password" />
    </div>
    <div class="form-group-group">
      <label class="checkbox" style="margin-left:20px;">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
